<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BullsAndCowsApp</title>
</head>
<body>
<h1 align="center">Hello there!</h1>
<h1 align="center">Welcome to the game BullsAndCows</h1>

<p align="center">Click <a href="/main">here</a> to authorize.</p>
</body>
</html>